// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.icon-friends {
    background-image: url(/resources/images/icons/lefticon.png);
    background-position: 0px -296px;
    background-size: 37px 555px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-video {
    background-image: url(/resources/images/icons/lefticon.png);
    background-position: 0 -518px;
    background-size: 37px 555px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-memories {
    background-image: url(/resources/images/icons/lefticon.png);
    background-position: 0 -444px;
    background-size: 37px 555px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-saved {
    background-image: url(/resources/images/icons/lefticon.png);
    background-position: 0 -185px;
    background-size: 37px 555px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-group {
    background-image: url(/resources/images/icons/lefticon.png);
    background-position: 0 -37px;
    background-size: 37px 555px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-marketplace {
    background-image: url(/resources/images/icons/lefticon.png);
    background-position: 0 -407px;
    background-size: 37px 555px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}